!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= current_page.data.title || "Kevin Bacon"
    = stylesheet_link_tag "styles"
    %link(href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400italic' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,800italic' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css')
    = javascript_include_tag  "all"
  %body{class: page_classes}
    #container
      %h1= link_to "Kevin Bacon", "/"
      %h2= link_to "find any old bacon number", "/"
      = yield
    %footer
      :markdown
        Created by [@joshuadavey](http://twitter.com/joshuadavey) with Clojure and Datomic

        Design by [@camerondaigle](http://twitter.com/camerondaigle)

        Information courtesy of [IMDb](http://www.imdb.com). Used with permission.
