#results
  %h2 Your Bacon Number has been Calculated
  .bacon_number
    %p= Phil.name
    %mark= Phil.pick 1..99
    %p= Phil.name
  .result_list
    %h3 Rationale
    - Phil.loop(1..50) do
      %ul
        %li
          %ul
            - Phil.loop(1..5) do
              %li.actor= Phil.name
              %li.movie #{Phil.words(1..5).capitalize} #{1914 + Phil.pick(100)}
            %li.actor Kevin Bacon
